#Final Process

Client will give a file with 'n' no.of.input variables along with values we have to use the ML model we built and have to predict the output for entire data and convert it to '.csv file' and dw it.

#Upload the downloaded model

In [1]:
import pickle

In [2]:
with open('/content/Hiring_model','rb') as f:
  reg=pickle.load(f)

#Upload the client file and read the file using pandas

In [4]:
import pandas as pd

df = pd.read_csv('/content/Clientfile_Project_3.csv')
df

   experience  test_score  interview_score
0           5           5                6
1           2           7                5
2           7           9                9
3           1           6                9
4           3           6                8
5          10          10               10
6           4           9                7
7          11           9                8

In [5]:
predictedprice=reg.predict(df)
predictedprice

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- experience
Feature names seen at fit time, yet now missing:
- Experience

  warnings.warn(message, FutureWarning)

array([76091.55928232, 52655.94364634, 75371.69369258, 77084.31469264,
       76563.10500031, 82579.58258832, 57394.9842777 , 79688.85258031])

In [6]:
df['price']=predictedprice
df

   experience  test_score  interview_score         price
0           5           5                6  76091.559282
1           2           7                5  52655.943646
2           7           9                9  75371.693693
3           1           6                9  77084.314693
4           3           6                8  76563.105000
5          10          10               10  82579.582588
6           4           9                7  57394.984278
7          11           9                8  79688.852580

#Downloading the output file

In [7]:
df.to_csv('Project_3_Output.csv',index=False)