#Final Process

Client will give a file with 'n' no.of.input variables along with values we have to use the ML model we built and have to predict the output for entire data and convert it to '.csv file' and dw it.

#Upload the downloaded model

In [2]:
import pickle

In [8]:
with open('/content/Namakkal_model (1)','rb') as f:
  reg=pickle.load(f)

In [9]:
reg.predict([[2000]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([8576405.9246478])

#Upload the client file and read the file using pandas

In [11]:
import pandas as pd

df=pd.read_csv('/content/Clientfile_Project_1.csv')
df

    Area
0    400
1    500
2    750
3    890
4    900
5   1000
6   1200
7   1250
8   1300
9   1400
10  1500
11  2000
12  2500
13  3000
14  3500
15  4000
16  5000

In [12]:
predictedprice=reg.predict(df)
predictedprice

array([ 1771527.04007483,  2196831.97036064,  3260094.29607516,
        3855521.1984753 ,  3898051.69150388,  4323356.62178969,
        5173966.48236131,  5386618.94750422,  5599271.41264712,
        6024576.34293294,  6449881.27321875,  8576405.9246478 ,
       10702930.57607686, 12829455.22750591, 14955979.87893496,
       17082504.53036402, 21335553.83322213])

In [13]:
df['price']=predictedprice
df

    Area         price
0    400  1.771527e+06
1    500  2.196832e+06
2    750  3.260094e+06
3    890  3.855521e+06
4    900  3.898052e+06
5   1000  4.323357e+06
6   1200  5.173966e+06
7   1250  5.386619e+06
8   1300  5.599271e+06
9   1400  6.024576e+06
10  1500  6.449881e+06
11  2000  8.576406e+06
12  2500  1.070293e+07
13  3000  1.282946e+07
14  3500  1.495598e+07
15  4000  1.708250e+07
16  5000  2.133555e+07

#Downloading the output file

In [ ]:
df.to_csv('Project_1_Output.csv',index=False)