#Salary Prediction

**Problem statement:**  Mr Premchand is an HR in Sprout Knowledge Solutions. He needs to predict the salary based on the candidate's experience, test score and interview score. Create your own machine learning model to predict the salary based on the given data set.

**Understanding the problem:**  The client needs to predict the salary based on the given dataset

#Data Collection and Analysis

In [1]:
#Python Libraries for Data Analysis
#Pandas for Data Cleaning and Analysis

In [2]:
import pandas as pd
df=pd.read_csv('/content/Hiring DS Final.csv')
df

    Experience  interview_score  test_score  salary
0            3                7           9   45000
1            1                9           8   30000
2            5                6           8   54000
3            7                6           9   80000
4           10                7           7   95000
5            1                7           6   25000
6            3                3           5   42000
7            7                9           9   85000
8            8                7           8   89000
9            9                8           7   90000
10           5                9           9   71000
11           2                6           8   43000

#Build ML Model

In [3]:
#sklearn(scikit-learn) is a ML Library used for regression,classification and clustering

In [4]:
from sklearn import linear_model
reg = linear_model.LinearRegression()

In [5]:
#machine trainng - fit(x,y) 
#x- input variables
#y- output variable

In [6]:
x=df.drop('salary',axis=1)
x

    Experience  interview_score  test_score
0            3                7           9
1            1                9           8
2            5                6           8
3            7                6           9
4           10                7           7
5            1                7           6
6            3                3           5
7            7                9           9
8            8                7           8
9            9                8           7
10           5                9           9
11           2                6           8

In [7]:
y=df['salary']
y

0     45000
1     30000
2     54000
3     80000
4     95000
5     25000
6     42000
7     85000
8     89000
9     90000
10    71000
11    43000
Name: salary, dtype: int64

In [8]:
reg.fit(x,y)

LinearRegression()

In [9]:
reg.predict([[5,6,7]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([59501.11767209])

In [10]:
reg.score(x,y)

0.972377002479154