#Final Process

Client will give a file with 'n' no.of.input variables along with values we have to use the ML model. We built and have to predict the output for entire data and convert it to '.csv file' and dw it.

#Upload the downloaded model

In [1]:
import pickle

In [9]:
with open('/Namakkal_2_model','rb') as f:
  reg=pickle.load(f)

#Upload the client file and read the file using pandas

In [11]:
import pandas as pd

df=pd.read_csv('/Clientfile_Project_2.csv')
df

   Area  Bedroom  Age
0  1000        2   21
1  1200        4   18
2  2000        3   13
3  2500        2   12
4  2800        4   15
5  3000        5   18
6  3400        3   10
7  4000        2   19
8  4900        4   17
9  5500        5   20

In [12]:
predictedprice=reg.predict(df)
predictedprice

array([1104613.59234556,  372056.81330946,  720141.38202684,
       1507573.60880118, 2361699.81490641, 3227600.09597417,
       2372452.92978529, 5691912.98051568, 6376352.499618  ,
       7916915.68836275])

In [13]:
df['price']=predictedprice
df

   Area  Bedroom  Age         price
0  1000        2   21  1.104614e+06
1  1200        4   18  3.720568e+05
2  2000        3   13  7.201414e+05
3  2500        2   12  1.507574e+06
4  2800        4   15  2.361700e+06
5  3000        5   18  3.227600e+06
6  3400        3   10  2.372453e+06
7  4000        2   19  5.691913e+06
8  4900        4   17  6.376352e+06
9  5500        5   20  7.916916e+06

#Downloading the output file

In [14]:
df.to_csv('Project_2_Output.csv',index=False)