#House Price Detection Multivariant(Project 1)

**Understanding the problem**

**Problem statement:** Find the price of a house for the given detials (area in sq.ft,no.of.bedrooms and how old is that house)

In [ ]:
#Python Libraries for Data Analysis
#Pandas for Data Cleaning and Analysis

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/Namakkalprice DS.csv')
df

   Area  Bedroom  Age     Price
0  1000      2.0   21   1200000
1  1200      4.0   18   1255000
2  2000      3.0   13   1400000
3  2500      2.0   12   1500000
4  2800      4.0   15   1755000
5  3000      5.0   18   2000000
6  3400      NaN   10   2500000
7  4000      NaN   19   4000000
8  4900      4.0   17   5500000
9  5500      5.0   20  10000000

#Handling the missing datas

In [ ]:
pd.isnull(df['Bedroom'])

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8    False
9    False
Name: Bedroom, dtype: bool

In [ ]:
median = df['Bedroom'].median()

In [ ]:
df['Bedroom'] = df['Bedroom'].fillna(median)
print(df)

   Area  Bedroom  Age     Price
0  1000      2.0   21   1200000
1  1200      4.0   18   1255000
2  2000      3.0   13   1400000
3  2500      2.0   12   1500000
4  2800      4.0   15   1755000
5  3000      5.0   18   2000000
6  3400      4.0   10   2500000
7  4000      4.0   19   4000000
8  4900      4.0   17   5500000
9  5500      5.0   20  10000000

#Build ML Model

In [ ]:
#sklearn(scikit-learn) is a ML Library used for regression,classification and clustering

In [ ]:
from sklearn  import linear_model
reg=linear_model.LinearRegression()

In [ ]:
#machine trainng - fit(x,y) 
#x- input variables
#y- output variable

In [ ]:
x=df.drop('Price',axis=1)
x

   Area  Bedroom  Age
0  1000      2.0   21
1  1200      4.0   18
2  2000      3.0   13
3  2500      2.0   12
4  2800      4.0   15
5  3000      5.0   18
6  3400      4.0   10
7  4000      4.0   19
8  4900      4.0   17
9  5500      5.0   20

In [ ]:
y=df['Price']
y

0     1200000
1     1255000
2     1400000
3     1500000
4     1755000
5     2000000
6     2500000
7     4000000
8     5500000
9    10000000
Name: Price, dtype: int64

In [ ]:
reg.fit(x,y)

LinearRegression()

In [ ]:
reg.predict([[2500,3,13]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([1563470.01662308])